aiohttp
aiosignal
altgraph
async-timeout
attrs
auto-py-to-exe
bottle
bottle-websocket
cachetools
certifi
cffi
charset-normalizer
colorama
cryptography
Deprecated
discord-webhook
discord.py
docopt
Eel
Tcl
frozenlist
future
gevent
gevent-websocket
gitpython
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
greenlet
httplib2
idna
multidict
oauthlib
pefile
pipreqs
Pillow
PlexAPI
protobuf
pyasn1
pyasn1-modules
pycparser
pyfiglet
PyGithub
pyinstaller
pyinstaller-hooks-contrib
PyJWT
PyNaCl
pyparsing
pytz
pywin32-ctypes
python-gitlab
rapidfuzz
requests
requests-oauthlib
rsa
six
schedule
termcolor
tk
tcl
tqdm
uritemplate
urllib3
whichcraft
wrapt
yarg
yarl
zope.event
zope.interface